form{
	display: flex;
	flex-direction: column;
	width: 70%;
}

form > .login-input{
	background-color: rgb(204, 204, 204);
	border: none;
	border-bottom: 3px solid cyan;
	margin-bottom: 15px;
	padding: 15px 10px 15px 10px;
	outline: none;
	border-radius: 10px;
}

form > .login-input:hover{
	background-color: rgb(187, 187, 187);
}

form > .login-input:focus{
	background-color: rgb(183, 181, 181);
}